@font-face {
  font-family: 'ilpt';
  src:  url('fonts/ilpt.eot?46alrf');
  src:  url('fonts/ilpt.eot?46alrf#iefix') format('embedded-opentype'),
    url('fonts/ilpt.ttf?46alrf') format('truetype'),
    url('fonts/ilpt.woff?46alrf') format('woff'),
    url('fonts/ilpt.svg?46alrf#ilpt') format('svg');
  font-weight: normal;
  font-style: normal;
}

*[class^="ilpt-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ilpt' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ilpt-d-cube:before {
  content: "\e900";
}
.ilpt-active-protection:before {
  content: "\e901";
}
.ilpt-add:before {
  content: "\e902";
}
.ilpt-adjustments:before {
  content: "\e903";
}
.ilpt-angle-down:before {
  content: "\e904";
}
.ilpt-angle-left:before {
  content: "\e905";
}
.ilpt-angle-right:before {
  content: "\e906";
}
.ilpt-angle-up:before {
  content: "\e907";
}
.ilpt-archive:before {
  content: "\e908";
}
.ilpt-arrow-down:before {
  content: "\e909";
}
.ilpt-arrow-left:before {
  content: "\e90a";
}
.ilpt-arrow-right:before {
  content: "\e90b";
}
.ilpt-arrow-up:before {
  content: "\e90c";
}
.ilpt-attention:before {
  content: "\e90d";
}
.ilpt-audio:before {
  content: "\e90e";
}
.ilpt-bell:before {
  content: "\e90f";
}
.ilpt-blockchart:before {
  content: "\e910";
}
.ilpt-book:before {
  content: "\e911";
}
.ilpt-calendar:before {
  content: "\e912";
}
.ilpt-check-1:before {
  content: "\e913";
}
.ilpt-check-2:before {
  content: "\e914";
}
.ilpt-close:before {
  content: "\e915";
}
.ilpt-cloud-download:before {
  content: "\e916";
}
.ilpt-cloud-off:before {
  content: "\e917";
}
.ilpt-cloud:before {
  content: "\e918";
}
.ilpt-collaboration:before {
  content: "\e919";
}
.ilpt-compass-nav:before {
  content: "\e91a";
}
.ilpt-credit-card:before {
  content: "\e91b";
}
.ilpt-crop:before {
  content: "\e91c";
}
.ilpt-design:before {
  content: "\e91d";
}
.ilpt-diamond:before {
  content: "\e91e";
}
.ilpt-dot-chart:before {
  content: "\e91f";
}
.ilpt-drive:before {
  content: "\e920";
}
.ilpt-earth:before {
  content: "\e921";
}
.ilpt-error-mark:before {
  content: "\e922";
}
.ilpt-error:before {
  content: "\e923";
}
.ilpt-exit:before {
  content: "\e924";
}
.ilpt-eye:before {
  content: "\e925";
}
.ilpt-feather-pen:before {
  content: "\e926";
}
.ilpt-file-2:before {
  content: "\e927";
}
.ilpt-files:before {
  content: "\e928";
}
.ilpt-flag:before {
  content: "\e929";
}
.ilpt-flash:before {
  content: "\e92a";
}
.ilpt-floppy:before {
  content: "\e92b";
}
.ilpt-flowchart:before {
  content: "\e92c";
}
.ilpt-gear:before {
  content: "\e92d";
}
.ilpt-hamburger:before {
  content: "\e92e";
}
.ilpt-home:before {
  content: "\e92f";
}
.ilpt-info:before {
  content: "\e930";
}
.ilpt-insert-image:before {
  content: "\e931";
}
.ilpt-layers:before {
  content: "\e932";
}
.ilpt-lifebelt:before {
  content: "\e933";
}
.ilpt-link:before {
  content: "\e934";
}
.ilpt-list:before {
  content: "\e935";
}
.ilpt-location-2:before {
  content: "\e936";
}
.ilpt-lock:before {
  content: "\e937";
}
.ilpt-mail:before {
  content: "\e938";
}
.ilpt-maximize:before {
  content: "\e939";
}
.ilpt-military-badge:before {
  content: "\e93a";
}
.ilpt-minus:before {
  content: "\e93b";
}
.ilpt-news:before {
  content: "\e93c";
}
.ilpt-open-folder:before {
  content: "\e93d";
}
.ilpt-other:before {
  content: "\e93e";
}
.ilpt-picture:before {
  content: "\e93f";
}
.ilpt-play:before {
  content: "\e940";
}
.ilpt-plus:before {
  content: "\e941";
}
.ilpt-question-mark:before {
  content: "\e942";
}
.ilpt-rectangle-star:before {
  content: "\e943";
}
.ilpt-refresh:before {
  content: "\e944";
}
.ilpt-reload:before {
  content: "\e945";
}
.ilpt-remove:before {
  content: "\e946";
}
.ilpt-reply:before {
  content: "\e947";
}
.ilpt-rocket:before {
  content: "\e948";
}
.ilpt-search:before {
  content: "\e949";
}
.ilpt-share:before {
  content: "\e94a";
}
.ilpt-shopping-cart:before {
  content: "\e94b";
}
.ilpt-social-facebook:before {
  content: "\e94c";
}
.ilpt-social-google-plus:before {
  content: "\e94d";
}
.ilpt-social-reddit:before {
  content: "\e94e";
}
.ilpt-social-twitter:before {
  content: "\e94f";
}
.ilpt-star:before {
  content: "\e950";
}
.ilpt-tag:before {
  content: "\e951";
}
.ilpt-trash:before {
  content: "\e952";
}
.ilpt-trashcan:before {
  content: "\e953";
}
.ilpt-undo:before {
  content: "\e954";
}
.ilpt-upload-cloud:before {
  content: "\e955";
}
.ilpt-user-2:before {
  content: "\e956";
}
.ilpt-users:before {
  content: "\e957";
}
.ilpt-volume:before {
  content: "\e958";
}
.ilpt-zoom-in:before {
  content: "\e959";
}
.ilpt-zoom-out:before {
  content: "\e95a";
}
