#LiveSphereViewer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

ul, li {
    padding: 0;
    list-style: none;
    margin: 0;
}

#LiveSpherePasswordWrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #1d1d1d;
}

#LiveSpherePasswordWrap .inner {
    width: 280px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#LiveSpherePasswordWrap .btn:hover,
#LiveSpherePasswordWrap .btn:focus {
    color: black;
}

#LiveSpherePasswordWrap .btn {
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    border-radius: 0;
}
#block-ui {
    display: none;
}

.modal-content iframe {
    max-width: 100%;
}
.modal.link-dialog.in {
    z-index: 1900;
}

.modal.link-dialog [type="checkbox"] {
    display: block;
}
/* Hotspot */

hotspot{
    display: block!important;
}

hotspot iframe {
    width: 100%;
}

.hotspot-modal img {
    margin: auto;
    display: block;
}

.custom_hs-name {
    color: white;
    font-size: 18px;
    text-shadow: 0 0 12px #000, 0 4px 12px #000;
    font-weight: 600;
    position: relative;
    bottom: 8px;
    transition: all .15s ease-out;
    -webkit-transition: all .15s ease-out;
    opacity: 0;
    text-align: center;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    pointer-events: none;
    width: 320px;
}

hotspot:hover .custom_hs-name {
    bottom: 16px;
    opacity: 1;
}

.modal .modal-dialog .hotspot-url-iframe-popup .close {
    height: 34px;
    width: 34px;
    line-height: 34px;
    text-align: center;
    z-index: 2;
    opacity: .5;
    position: absolute;
    background: #333;
    opacity: 1;
    color: white;
    text-shadow: none;
}

.modal .modal-dialog .hotspot-url-iframe-popup .close:hover {
    opacity: 1;
}

.modal .modal-dialog .hotspot-url-iframe-popup {
    background: white;
}