<div id="" class="hotspot-modal-crystal hotspot-crystal-image" ng-style="{'background-color': config.popup_bg_color }">
    <div class="close close-black" ng-style="{'background-color': config.popup_bg_color }" ng-click="vm.cancel()" ng-style="config.main_color"><i class="ilpt-close"></i></div>
    <a ng-if="hotspot.url" target="_blank" ng-href="{{ hotspot.url || '#' }}"><img loading-src="{{ hotspot.src }}" alt="hotspot.title" class="image"></a>
    <img ng-if="!hotspot.url" loading-src="{{ hotspot.src }}" alt="hotspot.title" class="image">
    <p ng-if="hotspot.caption" class="caption">{{ hotspot.caption }}</p>
</div>