<div id="" class="hotspot-modal hotspot-default-modal hotspot-default-image" ng-style="{'background-color': config.popup_bg_color }">
	<div class="close close-black" ng-click="cancel()" ng-style="{'background-color': config.popup_bg_color, color: config.popup_text_color}"><i class="ilpt-close"></i></div>
    <a ng-if="hotspot.url" target="_blank" ng-href="{{ hotspot.url || '#' }}"><img loading-src="{{ hotspot.src }}" alt="hotspot.title" class="image"></a>
    <img ng-if="!hotspot.url" loading-src="{{ hotspot.src }}" alt="hotspot.title" class="image">
    <p ng-if="hotspot.caption" ng-style="{color: config.popup_text_color}" class="caption">{{ hotspot.caption }}</p>
</div>