<div class="hs-section">
	<span class="hs-section-tt">CONTENT</span>
	<div class="form-group">
		<div class="form full">
			<div class="form-content">
				<button class="btn form-control" ng-click="vm.openMediaLib()"><i class="ilpt-audio"></i> Choose Audio</button>
				<input type="hidden" ng-model="hotspot.src">
			</div>
		</div>
		<div class="form">
			<label for="" class="form-label">Preview</label>
			<div class="form-content">
				<lpt-audio hotspotid="hotspot._id" src="hotspot.src" volume="hotspot.volume"></lpt-audio>
			</div>
		</div>
		<div class="form">
			<label class="form-label" for="">Reach <span class="ilpt-info" tooltip-placement="top"></span></label>
			<div class="form-content">
				<rzslider rz-slider-model="hotspot.reach" rz-slider-options="vm.reachRangeSliderOptions"></rzslider>
			</div>
		</div>
		<div class="form">
			<label class="form-label" for="">Volume</label>
			<div class="form-content">
				<rzslider rz-slider-model="hotspot.volume" rz-slider-options="{floor: 10, ceil: 100, showSelectionBar: true, step: 10}"></rzslider>
			</div>
		</div>
		<div class="form">
			<label class="form-label" for="">Loop</label>
			<div class="form-content">
				<select ng-model="hotspot.is_loop" class="form-control">
				  <option value="1">Yes</option>
				  <option value="0">Nope</option>
				</select>
			</div>
		</div>
	</div>
</div>
