<div class="hs-section">
	<span class="hs-section-tt">CONTENT</span>
	<div class="form-group">
		<div class="form full">
			<div class="form-content">
				<summernote class="form-control" config="vm.textfSummernoteOptions" ng-model="hotspot.content" rows="5"></summernote>
			</div>
		</div>
		<div class="form">
		    <label class="form-label" for="">Popup size (px)</label>
		    <div class="form-content">
		    	<input type="number" ng-model="hotspot.popup_width" placeholder="Width" class="form-control">
		    </div>
		</div>
	</div>
</div>

