<section class="auth-form2">

    <img src="assets/images/logo-circle.png" alt="lapentor.com" class="logo">
    <div id="auth-wrapper" class="container">
        <div class="card"></div>
        <div class="card" id="login-steps" >
            <div class="message-bag" ng-if="vm.message" ng-class="vm.messageClass">{{ vm.message }}</div>
            <form name="vm.forgotForm" ng-if="!vm.message">
                <div class="input-container">
                    <p>Enter your email below, and we’ll help you create a new password.</p>    
                </div>
                <div class="input-container">
                    <input ng-class="vm.errorClass" tabindex="1" type="email" ng-model="vm.email" ng-required="true" />
                    <label for="">Email</label>
                    <div class="bar"></div>
                </div>
                <div class="button-container">
                    <button class="btn bg-grad btn-login" tabindex="3" class="signin" ng-click="vm.submit()">
                        <span>Next</span>
                        <img ng-if="vm.isLoading" src="bower_components/SVG-Loaders/svg-loaders/puff.svg" width="20" alt="">
                    </button>
                </div>
                <div class="footer">
                    <div class="via-social">
                        <a class="footer-link" ui-sref="login"><i class="ilpt-arrow-left"></i> Back to login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
